:root {
  /* Color */
  --color-white: #fff;
  --color-black: #140a00;
  --color-blue: #045fd4;
  --color-red: #ff0000;
  --color-dark-grey: #909090;
  --color-light-grey: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;


  /* Font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;  
}

ul {
  list-style: none;
}

button, 
button:focus {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--color-black);
  color:var(--color-white);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--color-red);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video player */
.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--color-black);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}


/* Video info */
body > .info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--color-blue);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndBtn {
  display: flex;
}

.info .metadata .titleAndBtn .title {
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndBtn .moreBtn {
  height: 100%;
}

.info .views {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

/* Action Buttons */

.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding)/2);
  font-size: 16px;
}

.info .actions button i.active {
  color: var(--color-blue);
}

/* Channel Description */
.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.info .channel .subscribe {
  text-transform: uppercase;
  color: var(--color-red);
  font-size: var(--font-medium);
}

/* Up Next */

.upNext {
  padding: 0 var(--padding);
}

.upNext > .title {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  margin-bottom: calc(var(--padding));
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;

}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding);
  }
}